// Blue
$blue-900: #000A20;
$blue-800: #001F50;
$blue-700: #003480;
$blue-600: #0048B2;
$blue-500: #025DE4;
$blue-400: #1B77FD;
$blue-300: #4C95FF;
$blue-200: #7EB3FF;
$blue-100: #DFF1FF;
$blue-50: #dff1ff;

// Gray
$gray-900: #010F14;
$gray-800: #20262C;
$gray-700: #394047;
$gray-600: #515962;
$gray-500: #68737D;
$gray-400: #828C97;
$gray-300: #9DA6AE;
$gray-200: #B8BFC6;
$gray-100: #D3D9E0;
$gray-50: #EDF2FC;

// Green
$green-900: #000000;
$green-800: #044227;
$green-700: #106C42;
$green-600: #1C975E;
$green-500: #28C279;
$green-400: #28C279;
$green-300: #68E3AA;
$green-200: #91EBC2;
$green-100: #BAF4DA;
$green-50: #DFFEF1;

// Red
$red-900: #1E0001;
$red-800: #44070E;
$red-700: #6E101A;
$red-600: #991826;
$red-500: #C42231;
$red-400: #DD3B4B;
$red-300: #E66673;
$red-200: #EE919A;
$red-100: #F9BCC2;
$red-50: #FFE5E9;

// Yellow
$yellow-900: #1D1300;
$yellow-800: #4E3900;
$yellow-700: #806000;
$yellow-600: #B38600;
$yellow-500: #E6AC00;
$yellow-400: #FFC61A;
$yellow-300: #FFD24B;
$yellow-200: #FFDF7D;
$yellow-100: #FFECAD;
$yellow-50: #FFF9DA;

// Cyan
$cyan-900: #00161D;
$cyan-800: #003E4C;
$cyan-700: #00667B;
$cyan-600: #008FAA;
$cyan-500: #008FAA;
$cyan-400: #25D1F3;
$cyan-300: #52DBF7;
$cyan-200: #80E6FA;
$cyan-100: #ADF1FE;
$cyan-50: #D9FDFF;