@import "../variables.css";
@import "../../mixins.css";

/*
 * Link
 */

$button-primary-link-default-text-color: $button-primary-base-color;

.button--primary-link-default {
	@mixin button-link $button-primary-link-default-text-color;
}

$button-primary-link-active-text-color: $button-primary-active-color;

.button--primary-link-active {
	@mixin button-link $button-primary-link-active-text-color;
}

$button-primary-link-disabled-text-color: $button-primary-disabled-color;

.button--primary-link-disabled {
	@mixin button-link $button-primary-link-disabled-text-color;
}
