/*
 * Vendor
 */
@import "@fortawesome/fontawesome-free/css/all.css";

/*
 * Local
 */

//Utilities
@import "styles/utilities/utilities.css";

// Components
@import "styles/components/button";
section {
	padding: 16px;
	margin: 64px 0;
	border-radius: 16px;
}