@import "../variables.css";

/*
 * Solid
 */

$button-primary-solid-default-background-color: $button-primary-base-color;
$button-primary-solid-default-text-color: $button-primary-text-inverted-color;

.button--primary-solid-default {
	background-color: $button-primary-solid-default-background-color;
	color: $button-primary-solid-default-text-color;
}

$button-primary-solid-active-background-color: $button-primary-active-color;
$button-primary-solid-active-text-color: $button-primary-text-inverted-color;

.button--primary-solid-active {
	background-color: $button-primary-solid-active-background-color;
	color: $button-primary-solid-active-text-color;
}

$button-primary-solid-disabled-background-color: $button-primary-disabled-color;
$button-primary-solid-disabled-text-color: $button-primary-text-inverted-color;

.button--primary-solid-disabled {
	background-color: $button-primary-solid-disabled-background-color;
	color: $button-primary-solid-disabled-text-color;
}
