@import "../primitives/colors.css";

// Base
$text-color: $gray-700;
$text-inverted-color: $gray-100;
$surface-color: $gray-50;

// Primary
$primary-base-color: $blue-600;
$primary-text-color: $blue-700;
$primary-text-inverted-color: $blue-50;
$primary-surface-color: $blue-100;
$primary-border-color: $blue-300;

// Secondary
$secondary-base-color: $gray-600;
$secondary-text-color: $gray-700;
$secondary-text-inverted-color: $gray-50;
$secondary-surface-color: $gray-100;
$secondary-border-color: $gray-200;

// Success
$success-base-color: $green-700;
$success-text-color: $green-700;
$success-text-inverted-color: $green-50;
$success-surface-color: $green-200;
$success-border-color: $green-200;

// Danger
$danger-base-color: $red-500;
$danger-text-color: $red-600;
$danger-text-inverted-color: $red-50;
$danger-surface-color: $red-100;
$danger-border-color: $red-300;

// Warning
$warning-base-color: $yellow-400;
$warning-text-color: $yellow-700;
$warning-text-inverted-color: $yellow-50;
$warning-surface-color: $yellow-200;
$warning-border-color: $yellow-300;

// Info
$info-base-color: $cyan-500;
$info-text-color: $cyan-700;
$info-text-inverted-color: $cyan-50;
$info-surface-color: $cyan-200;
$info-border-color: $cyan-300;